.container_comunidade {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
}

.conteudo-comunidade {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 320px;
  gap: 24px;
}

.conteudo__fundo-comunidade {
  background-color: #00000029;
  border-radius: 8px;
  width: 100%;
}

.conteudo__inputs-comunidade {
  background: var(--azul-bb);
  padding: 24px;
  border-radius: 8px;
}

#verde.conteudo__inputs-comunidade {
  background: #27c93f;
}

#azul.conteudo__inputs-comunidade {
  background: #2e5999;
}
#vermelho.conteudo__inputs-comunidade {
  background: #c93f27;
}
#amarelo.conteudo__inputs-comunidade {
  background: #c9c627;
}

.conteudo__input-comunidade {
  padding: 24px;
  background-color: var(--preto);
  width: 100%;
  border-radius: 8px;
}

.conteudo__input-input--comunidade {
  border-radius: 8px;
  color: var(--branco);
  background-color: var(--preto);
  font-size: 11px;
}

.conteudo__bolinha {
  display: flex;
  gap: 8px;
}

.conteudo__bolinha-v {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #ff5f56;
}

.conteudo__bolinha-a {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #ffbd2e;
}

.conteudo__bolinha-verde {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #27c93f;
}

.conteudo__titulo {
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  padding-left: 24px;
}

.conteudo__conteudo {
  font-size: 16px;
  font-family: var(--fontInter);
  font-weight: 200;
  padding-left: 24px;
  margin-top: 8px;
}

.conteudo__likeperfil {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.conteudo__likeperfil-comentLike {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .container_comunidade {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 1728px) {
  .container_comunidade {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
