.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  gap: 24px;
}
.cabecalho__img {
  max-width: 320px;
  width: 100%;
}

.cabecalho__logo {
  width: 145px;
  /* margin-top: 1em; */
}

.cabecalho__input {
  max-width: 672px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border-color: var(--azul-input);
  background-color: var(--azul-input);
  /* margin-top: 1em; */
}

.cabecalho__perfilnome {
  max-width: 320px;
  width: 100%;
}

.cabecalho__input::placeholder {
  color: var(--cinza-claro);
  padding-left: 1em;
}

.cabecalho_perfil {
  /* max-width: 320px;
  width: 100%; */
  display: inline-flex;
  align-items: center;
  gap: 8px;
  float: right;
}

.cabecalho__perfil-fotoPerfil {
  width: 32px;
  height: 32px;
  /* padding-right: 1em; */
}

.cabecalho__perfil-nome {
  font-family: var(--fontInter);
  align-items: center;
  color: var(--branco);
}

.cabecalho__menuhambuguer {
  display: none;
}

.cabecalho__perfil-fotoPerfil,
.cabecalho__perfil-nome {
  display: block;
}
@media screen and (max-width: 768px) {
  .cabecalho {
    /* width: 100%; */
  }
  .container {
    display: flex;
    width: 100%;
    gap: 24px;
    align-items: center;
    /* width: 100%; */
  }
  .cabecalho__input {
    width: 100%;
    height: 56px;
  }

  .cabecalho__logo {
  }

  .cabecalho__perfil-fotoPerfil,
  .cabecalho__perfil-nome {
    display: none;
  }

  .cabecalho__menuhambuguer {
    display: block;
  }
}
